#topic-form {

    margin: 40px;
}

label,
input[type="text"],
input[type="submit"] {
    font-family: Mohave;
    font-size: 15px;
}

input[type="text"],
input[type="submit"] {
    padding: 5px;
}



#topic {
    width: 220px;
}